<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <li><%= detail.text %></li>
      <li><%= detail.user %></li>
      <li><%= detail.added %></li>
    </ul>
    <a href="/">return</a>
  </body>
</html>
